flows.json
[
    {
        "id": "df4908e3.d37578",
        "type": "tab",
        "label": "Desktop",
        "disabled": false,
        "info": ""
    },
    {
        "id": "cad29a09.a1fd78",
        "type": "wake on lan",
        "z": "df4908e3.d37578",
        "mac": "C8-60-00-0A-16-82",
        "host": "192.168.0.101",
        "udpport": "9",
        "name": "Desktop",
        "x": 840,
        "y": 120,
        "wires": []
    },
    {
        "id": "37a36236.f71b8e",
        "type": "inject",
        "z": "df4908e3.d37578",
        "name": "Turn on PC",
        "props": [
            {
                "p": "command",
                "v": "TurnOnRequest",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 120,
        "wires": [
            [
                "86cbbe78.1f6ee",
                "e5ae503.a856fb"
            ]
        ]
    },
    {
        "id": "758b4566.ade3ac",
        "type": "debug",
        "z": "df4908e3.d37578",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1150,
        "y": 280,
        "wires": []
    },
    {
        "id": "9531e772.f67a28",
        "type": "inject",
        "z": "df4908e3.d37578",
        "name": "Turn Off PC",
        "props": [
            {
                "p": "command",
                "v": "TurnOffRequest",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 600,
        "wires": [
            [
                "86cbbe78.1f6ee",
                "e5ae503.a856fb"
            ]
        ]
    },
    {
        "id": "38f1f206.a5a07e",
        "type": "function",
        "z": "df4908e3.d37578",
        "name": "Construct Payload",
        "func": "msg.payload = \"state:off\\n\"\nreturn msg",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 560,
        "wires": [
            [
                "bdfc2095.4e93d"
            ]
        ]
    },
    {
        "id": "ea6a06b0.aa6108",
        "type": "comment",
        "z": "df4908e3.d37578",
        "name": "Turns off PC and Desk",
        "info": "",
        "x": 120,
        "y": 560,
        "wires": []
    },
    {
        "id": "94891691.f2ccb8",
        "type": "comment",
        "z": "df4908e3.d37578",
        "name": "Turns on PC and Desk",
        "info": "",
        "x": 120,
        "y": 80,
        "wires": []
    },
    {
        "id": "7cff4fcb.09c3c",
        "type": "alexa-home",
        "z": "df4908e3.d37578",
        "conf": "81461b04.a7b598",
        "device": "144701",
        "acknoledge": true,
        "name": "PC",
        "topic": "Bedroom",
        "x": 110,
        "y": 380,
        "wires": [
            [
                "86cbbe78.1f6ee",
                "e5ae503.a856fb"
            ]
        ]
    },
    {
        "id": "86cbbe78.1f6ee",
        "type": "switch",
        "z": "df4908e3.d37578",
        "name": "",
        "property": "command",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "TurnOnRequest",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "TurnOffRequest",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 310,
        "y": 380,
        "wires": [
            [
                "cad29a09.a1fd78",
                "be0b46d3af3b18a4",
                "55153989933299ec",
                "3682734b21416c68",
                "d0b45c11963da49f",
                "76742fef234e782d"
            ],
            [
                "38f1f206.a5a07e",
                "2e64b58f.65036a",
                "24c509c82725cb93",
                "2e8fc278686bde96",
                "76742fef234e782d"
            ]
        ]
    },
    {
        "id": "bdfc2095.4e93d",
        "type": "tcp out",
        "z": "df4908e3.d37578",
        "name": "PC",
        "host": "192.168.0.101",
        "port": "60000",
        "beserver": "client",
        "base64": false,
        "end": true,
        "tls": "",
        "x": 1090,
        "y": 560,
        "wires": []
    },
    {
        "id": "e5ae503.a856fb",
        "type": "debug",
        "z": "df4908e3.d37578",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 310,
        "y": 440,
        "wires": []
    },
    {
        "id": "2e64b58f.65036a",
        "type": "delay",
        "z": "df4908e3.d37578",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 660,
        "y": 620,
        "wires": [
            [
                "bd27d370f7b046a2"
            ]
        ]
    },
    {
        "id": "13948fe191c754d6",
        "type": "kasa",
        "z": "df4908e3.d37578",
        "name": "Desk",
        "device": "192.168.0.87",
        "interval": 60000,
        "eventInterval": "1500",
        "payload": "getInfo",
        "payloadType": "info",
        "debug": false,
        "x": 1110,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "be0b46d3af3b18a4",
        "type": "function",
        "z": "df4908e3.d37578",
        "name": "Construct Payload",
        "func": "msg = {}\nmsg.payload = true\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 180,
        "wires": [
            [
                "13948fe191c754d6",
                "758b4566.ade3ac"
            ]
        ]
    },
    {
        "id": "dc68ee33b723d0af",
        "type": "kasa",
        "z": "df4908e3.d37578",
        "name": "Desk",
        "device": "192.168.0.87",
        "interval": 60000,
        "eventInterval": "1500",
        "payload": "getInfo",
        "payloadType": "info",
        "debug": false,
        "x": 1090,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "bd27d370f7b046a2",
        "type": "function",
        "z": "df4908e3.d37578",
        "name": "Construct Payload",
        "func": "msg = {}\nmsg.payload = false\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 620,
        "wires": [
            [
                "dc68ee33b723d0af",
                "758b4566.ade3ac"
            ]
        ]
    },
    {
        "id": "2e8fc278686bde96",
        "type": "delay",
        "z": "df4908e3.d37578",
        "name": "",
        "pauseType": "delay",
        "timeout": "6",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 660,
        "y": 680,
        "wires": [
            [
                "bd27d370f7b046a2"
            ]
        ]
    },
    {
        "id": "24c509c82725cb93",
        "type": "delay",
        "z": "df4908e3.d37578",
        "name": "",
        "pauseType": "delay",
        "timeout": "7",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 660,
        "y": 720,
        "wires": [
            [
                "bd27d370f7b046a2"
            ]
        ]
    },
    {
        "id": "55153989933299ec",
        "type": "delay",
        "z": "df4908e3.d37578",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 660,
        "y": 260,
        "wires": [
            [
                "be0b46d3af3b18a4"
            ]
        ]
    },
    {
        "id": "3682734b21416c68",
        "type": "delay",
        "z": "df4908e3.d37578",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 660,
        "y": 300,
        "wires": [
            [
                "be0b46d3af3b18a4"
            ]
        ]
    },
    {
        "id": "d0b45c11963da49f",
        "type": "delay",
        "z": "df4908e3.d37578",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 660,
        "y": 340,
        "wires": [
            [
                "be0b46d3af3b18a4"
            ]
        ]
    },
    {
        "id": "76742fef234e782d",
        "type": "debug",
        "z": "df4908e3.d37578",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 650,
        "y": 420,
        "wires": []
    },
    {
        "id": "81461b04.a7b598",
        "type": "alexa-home-conf",
        "username": "ScottGibb98"
    }
]