flows.json
[{"id":"cad29a09.a1fd78","type":"wake on lan","z":"df4908e3.d37578","mac":"C8-60-00-0A-16-82","host":"192.168.0.62","udpport":"9","name":"Desktop","x":940,"y":120,"wires":[]},{"id":"37a36236.f71b8e","type":"inject","z":"df4908e3.d37578","name":"Turn on PC","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Start","payloadType":"msg","x":310,"y":120,"wires":[["cad29a09.a1fd78","1937fa48.3b1016"]]},{"id":"758b4566.ade3ac","type":"debug","z":"df4908e3.d37578","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":960,"y":240,"wires":[]},{"id":"5603111c.82075","type":"telegram command","z":"df4908e3.d37578","name":"Turn On PC","command":"/turnonpc","bot":"475f8b28.cae814","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":310,"y":180,"wires":[["758b4566.ade3ac","cad29a09.a1fd78","26709b83.ab4664","1937fa48.3b1016"],[]]},{"id":"185528f7.325647","type":"telegram receiver","z":"df4908e3.d37578","name":"DebugLogger","bot":"475f8b28.cae814","saveDataDir":"","filterCommands":true,"x":750,"y":460,"wires":[["3f47ad04.f85182"],["2ddff8f9.64fae8"]]},{"id":"3f47ad04.f85182","type":"debug","z":"df4908e3.d37578","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":960,"y":420,"wires":[]},{"id":"2ddff8f9.64fae8","type":"debug","z":"df4908e3.d37578","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":960,"y":500,"wires":[]},{"id":"9531e772.f67a28","type":"inject","z":"df4908e3.d37578","name":"Turn Off PC","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Start","payloadType":"msg","x":310,"y":580,"wires":[["38f1f206.a5a07e","2e64b58f.65036a"]]},{"id":"6a1f4769.55f6e8","type":"debug","z":"df4908e3.d37578","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":960,"y":760,"wires":[]},{"id":"3dae8f85.c2f19","type":"telegram command","z":"df4908e3.d37578","name":"Turn Off PC","command":"/turnoffpc","bot":"475f8b28.cae814","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":310,"y":640,"wires":[["6a1f4769.55f6e8","38f1f206.a5a07e","92274fb3.b366b","2e64b58f.65036a"],[]]},{"id":"38f1f206.a5a07e","type":"function","z":"df4908e3.d37578","name":"Construct Payload","func":"msg.payload = \"state:off\\n\"\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":580,"wires":[["bb58e183.11c7c","bdfc2095.4e93d"]]},{"id":"26709b83.ab4664","type":"function","z":"df4908e3.d37578","name":"Construct Payload","func":"msg.payload.content = \"PC Turning on...\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":300,"wires":[["facd542a.15de28"]]},{"id":"facd542a.15de28","type":"telegram sender","z":"df4908e3.d37578","name":"Send Return Message","bot":"475f8b28.cae814","haserroroutput":false,"outputs":1,"x":980,"y":300,"wires":[[]]},{"id":"92274fb3.b366b","type":"function","z":"df4908e3.d37578","name":"Construct Payload","func":"msg.payload.content = \"PC Turning off...\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":700,"wires":[["bb58e183.11c7c"]]},{"id":"bb58e183.11c7c","type":"telegram sender","z":"df4908e3.d37578","name":"Send Return Message","bot":"475f8b28.cae814","haserroroutput":false,"outputs":1,"x":980,"y":700,"wires":[[]]},{"id":"ea6a06b0.aa6108","type":"comment","z":"df4908e3.d37578","name":"Turns off PC and Desk","info":"","x":340,"y":540,"wires":[]},{"id":"94891691.f2ccb8","type":"comment","z":"df4908e3.d37578","name":"Turns on PC and Desk","info":"","x":340,"y":80,"wires":[]},{"id":"7cff4fcb.09c3c","type":"alexa-home","z":"df4908e3.d37578","conf":"81461b04.a7b598","device":"144701","acknoledge":true,"name":"PC","topic":"Bedroom","x":110,"y":380,"wires":[["86cbbe78.1f6ee","e5ae503.a856fb"]]},{"id":"86cbbe78.1f6ee","type":"switch","z":"df4908e3.d37578","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":380,"wires":[["cad29a09.a1fd78","1937fa48.3b1016"],["38f1f206.a5a07e","2e64b58f.65036a"]]},{"id":"bdfc2095.4e93d","type":"tcp out","z":"df4908e3.d37578","host":"192.168.0.62","port":"60000","beserver":"client","base64":false,"end":true,"name":"PC TCP","x":940,"y":580,"wires":[]},{"id":"e5ae503.a856fb","type":"debug","z":"df4908e3.d37578","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":310,"y":440,"wires":[]},{"id":"1937fa48.3b1016","type":"alexa-remote-smarthome","z":"df4908e3.d37578","name":"Desk On","account":"8a5dc963.060ea8","config":{"option":"action","value":[{"entity":"b0806759-5629-4d90-831b-6587c1f6a946","action":"turnOn"}]},"outputs":1,"x":940,"y":180,"wires":[[]]},{"id":"7d39f141.7a6a3","type":"alexa-remote-smarthome","z":"df4908e3.d37578","name":"Desk Off","account":"8a5dc963.060ea8","config":{"option":"action","value":[{"entity":"b0806759-5629-4d90-831b-6587c1f6a946","action":"turnOff"}]},"outputs":1,"x":940,"y":640,"wires":[[]]},{"id":"2e64b58f.65036a","type":"delay","z":"df4908e3.d37578","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660,"y":640,"wires":[["7d39f141.7a6a3"]]},{"id":"475f8b28.cae814","type":"telegram bot","botname":"GibbSmartHome","usernames":"ScottGibb","chatids":"903197994","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"81461b04.a7b598","type":"alexa-home-conf","z":"","username":"ScottGibb98"},{"id":"8a5dc963.060ea8","type":"alexa-remote-account","z":"","name":"Scott Gibb","authMethod":"proxy","proxyOwnIp":"192.168.0.68","proxyPort":"3456","cookieFile":"out.txt","refreshInterval":"3","alexaServiceHost":"alexa.amazon.co.uk","amazonPage":"amazon.co.uk","acceptLanguage":"en-UK","userAgent":"","useWsMqtt":"on","autoInit":"on"}]